.popUp{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    // right: ;

    position: absolute;
    max-width: 22rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;

    .caption{
        color: rgba(39, 39, 39, 1);
    }
    .link{
        display: block;
        color: rgba(19, 144, 229, 1);
        text-decoration: none;
    }
}