@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?0000#iefix') format('embedded-opentype'),
	     url('./font/fontello.woff2?0000') format('woff2'),
	     url('./font/fontello.woff?0000') format('woff'),
	     url('./font/fontello.ttf?0000') format('truetype'),
	     url('./font/fontello.svg?0000#fontello') format('svg');
    font-weight: 400;
    font-style: 400;
}
.input{
    position: relative;
    width: 33.4rem;

    @media screen and (max-width: 32rem) {
        width: 93.4%;
    }
    // overflow: hidden;
    label {
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba($color: #171719, $alpha: .3);
    }

    .inputField {
        height: 4.8rem;
        width: 100%;
        // width: 33.;
        font-size: 2rem;
        font-weight: 400;
        color: #272727;
        border-radius: 1rem;
        border: 0.1rem solid rgba($color: #171719, $alpha: .2);
        padding: 1.2rem 1.5rem;
        transition: background-color 100ms ease-in-out;

        &:focus {
            background-color: rgba($color: #C5E4F9, $alpha: .3);
            outline: none;
            border-color: #1390E5;
        }
        
        &[type="password"] {
            font-family: 'fontello';

            // font-variant: small-caps;
            // // font-size: 30px;
            // letter-spacing: 0.145ch;
            // // font-variant-numeric: tabular-nums;
            // color: transparent;
            // caret-color: #272727;
        }

        // &[type="password"]::selection{
        //     color: transparent;
        // }
    }
    
    .showButton{
        position: absolute;
        bottom: 2.4rem;
        transform: translateY(50%);
        height: 2.4rem;
        right: 1.3rem;
        cursor: pointer;
    }

}
