.container {
    margin: 0 auto;
    padding: 0 0.8rem;

    width: calc(1040 / 1440 * 100%);

    @media screen and (max-width: 800px) {
        width: calc(688 / 768 * 100%);
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}
