@mixin button {
    padding: 1.4rem 2rem;
    height: 5.2rem;
    border: 0.1rem solid #1390e5;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;

    cursor: pointer;
}
