.button{
    padding: 1.4rem 2rem;
    outline: 0.1rem solid #1390E5;
    border: none;

    div {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 2rem;
    }
}