@mixin focus{
    transition: background-color 100ms ease-in-out;

    &:focus {
        background-color: rgba($color: #C5E4F9, $alpha: .3);
        outline: none;
        border-color: #1390E5;
    }}

@mixin inputLabel() {
    
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}

@mixin loginFieldsWeight {
    
    width: 33.4rem;

    @media screen and (max-width: 500px) {
        width: 93.4%;
    }
}