@import './../SearchBoxGenerics.scss';

.searchContainer{
    display: flex;

    @include fontSizeGeneric;
    
    .searchBox {
        @include input;
        
        width: 53.6rem;
        padding-right: 5rem;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (max-width: 500px) {
            padding-right: 1.5rem;
        }
    }

    
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}
