@import './../VideoCardGenerics.scss';

.line{
    --line-height: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 15.7rem 1fr;
    text-decoration: none;
    height: 8.8rem;
    font-size: 1.6rem;
    line-height: var(--line-height);
    color: #000000;
  
    .title{
        font-weight: 500;
        height: calc(var(--line-height) * 2);
        @include textClamp(2);
    }

    .additionalInfo{
        color: rgba($color: #171719, $alpha: .3);

        & > * {
            @include oneLine;
        }
    }
    
    @media screen and (max-width: 500px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
        height: 7.2rem ;
        grid-template-columns: 12rem 1fr;
    }
} 