.fillBackground{
    z-index: 2;
    position: fixed;
    inset: 0;
    background-color: #75C7FF;

    .modalTitle{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;
        color: #000;
        margin-bottom: 1.2rem;
    }

    .wrapper{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        // width: 43rem;

        // @media screen and  {
            
        // }
    }


    .field{

    }

    .modalContentWrapper{
        display: flex;
        gap: 2.4rem;
        flex-direction: column;
        // grid-auto-rows: auto;

        width: 43rem;
        max-width: 100%;
    }

}
