.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;

    @media screen and (max-width: 500px) {
        gap: 0.6rem 0.6rem;

        .buttonText {
            padding: .3rem;

            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }


    // @media screen {
        
    // }

    justify-content: space-between;

    & > * {
        flex: 1 1 100%;
    }
}
